{% extends 'base.html' %} {% block title %} Recorder {% endblock %} {% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Запись пациентов</h1>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p>Container</p>
            </div>
            <div class="col-6">
                {% load filters_addclass %}
                <div class="modal-content">
                    <form method="POST" action="#">
                        {% csrf_token %} {% for field in form %} <span>{{ field.label }}</span>{{ field.error }} {{ field|addClass:'form-control' }} {% endfor %}
                        <input type='button' class="btn btn-info" name="select_time" value='Выбрать время визита' id='add-register' disabled>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <p>Container</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {% include 'cl_recorder/calendar_empty.html' %}
    </div>
</section>
<section>
    <div class="container">
        <div class="hidden-block-window">
            {% include 'cl_recorder/record_free_time.html' %}
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Footer</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}